*{
  box-sizing: border-box;
}
body{
  font-family: fantasy,sans-serif,Arial,Helvetica;
  background-color: #BED0F4;
}
/* Style the top navigation bar */
.navigation{
  background-color: #17202A;
  width:100%;
  overflow: auto;
  position: sticky;
  top:0;
}
/* Style the navigation link */
.navigation a{
  float:left;
  padding: 19px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}
/* Style the navigation image Icon */
.navigation img{
  float:left;
  padding: 5px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
/* Style the navigation paragraph */
.navigation p{
  color: #8BA6E9;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: 900;
  font-family: "Sofia", sans-serif;
}
/* Change color on hover */
.navigation a:hover{
  background-color: #F7E4E0;
  color:#2980B9;
}
/* Change color on active link */
.active{
  background-color: #2980B9;
}
/* Create two unequal columns that floats next to each other */

/* Left column */
.leftcol {
  float: left;
  background-color:#BED0F4;
  width: 65%;
}

/* Right column */
.rightcol {
  float: left;
  width: 35%;
  background-color: #8BA6E9;
  padding-left: 20px;
}

/* my image */

.new {
  width: 100%;
  height: 300px;
}
/*create thumbnail*/
.right{
  width: 100%;
  height: 200px;
  border: 1px solid #ddd;
  border-radius: 4px;
  padding: 5px;
}
/* Add a card effect */
.card {
  background: linear-gradient(145deg, rgb(195, 240, 200), rgb(80, 155, 245));
  padding: 20px;
  margin-top: 10px;
  box-shadow: 10px 10px 5px #7E96C4;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}
/*icon styles*/
.fa {
  color:red;
}
/*facebook button*/
.button{
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  background-color: #008CBA;
}
.button:hover {
  background-color: #2980B9;
  color: white;
}

/* Footer */
.footer {
  padding: 7px;
  text-align: left;
  background: black;
  margin-top: 0px;
  color: white;
}
/* Responsive layout - when the screen is less than 400px wide, make the navigation items stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navigation a{
    float:none;
    display: block;
    width:100%;
  }

}
