*{
  box-sizing: border-box;
}
body{
  font-family: fantasy,sans-serif,Arial,Helvetica;
  background-color: white;
}
/* Style the top navigation bar */
.navigation{
  background-color: #17202A;
  overflow:hidden;
  width:100%;
  overflow: auto;
}
/* Style the navigation link */
.navigation a{
  float:left;
  padding: 19px;
  color: white;
  text-decoration: none;
  font-size: 17px;
}
/* Style the navigation image Icon */
.navigation img{
  float:left;
  padding: 5px;
  height: 50px;
  width: 50px;
  border-radius: 50%;
}
/* Style the navigation paragraph */
.navigation p{
  color:teal;
  text-decoration: none;
  letter-spacing: 3px;
  font-weight: 900;
  font-family: "Sofia", sans-serif;
}
/* Change color on hover */
.navigation a:hover{
  background-color: #D7DBDD;
  color:#2980B9;
}
/* Change color on active link */
.active{
  background-color: #2980B9;
}
/* Responsive layout - when the screen is less than 400px wide, make the navigation items stack on top of each other instead of next to each other */
@media screen and (max-width: 400px) {
  .navigation a{
    float:none;
    display: block;
    width:100%;
  }

}
